# deps
node_modules/
.pnpm-store/
# build
dist/
build/
.next/
.turbo/
.expo/
.expo-shared/
# env
.env
.env.local
.env.*.local
# secrets & keys
*.pem
*.key
.ssh/
id_ed25519*
# OS
.DS_Store
Thumbs.db
# editor
.vscode/*
!.vscode/extensions.json
.idea/
# logs
*.log
npm-debug.log*
# test
coverage/
# TS incremental build cache
*.tsbuildinfo
# Supabase
supabase/.branches/
supabase/.temp/
